@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/*VARIABLES*/
:root {
  --main-bg: #0c0d0d;
  --content-bg: #1e1d1d;
  --bg-blue: #b9d5fc;
  --bg-field: #585050;
  --bg-button-white: #424242;

  --main-color--text: #f3f3f3;
  --color-text: #dfdada;
  --color-text--button: #1e1d1d;
  --color-text--input: #f3f3f3;
  --color-text--brown: #887c7c;
  --color-text--button-blue: #1e1d1d;
  --color-text--button-white: #aac9f1;
  --color-text--button-link: #aac9f1;

  --border-color--blue: #aac9f1;
  --border-color--light-blue: #f0f6ff;
  --border-color--input: #887c7c;
  --border-color--link: #3a3f47;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  background-color: var(--main-bg);
  color: var(--main-color--text);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-weight: 700;
  font-size: 26px;
  line-height: 39px;
  margin: 0 0 4px;
}

.container {
  width: 100%;
  max-width: 986px;
  margin: 0 auto;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--content-bg);
  padding: 32px 32px 24px;
  height: 100vh;
  min-height: 100%;
  position: relative;
  justify-content: center;
  align-items: center;
}

.content__wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.content__img {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.description {
  font-size: 14px;
  color: var(--color-text);
}

.form-block {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: 320px;
  margin: 32px 0px;
}

.form-block__item {
  display: grid;
  grid-template-columns: 1fr 196px;
  align-items: center;
  gap: 10px;
}

.form-block__item--label {
  color: var(--color-text);
  font-size: 14px;
}

.alignment {
  margin-top: -13px;
}

.form-block__item--input {
  background-color: var(--bg-field);
  border: 1px solid var(--border-color--input);
  border-radius: 6px;
  min-height: 32px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  padding: 0px 8px;
  transition: 0.25s;
  outline: none;
  color: var(--color-text--input);
}

.form-block__item--input:hover {
  border: 1px solid var(--border-color--input);
  box-shadow: inset 0px 0px 0px 100px rgba(0, 0, 0, 0.2);
}

.form-block__item--input:focus {
  border: 1px solid var(--border-color--blue);
}

.form-block__item--inputs {
  display: flex;
  flex-direction: column;
}

.form-block__item--input--small {
  background-color: var(--bg-field);
  border: 1px solid var(--border-color--input);
  border-radius: 6px;
  min-height: 32px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  padding: 0px 8px;
  transition: 0.25s;
  outline: none;
  width: 50px;
}

.form-block__item--input--small:hover {
  border: 1px solid var(--border-color--input);
  box-shadow: inset 0px 0px 0px 100px rgba(0, 0, 0, 0.2);
}

.form-block__item--input--small:focus {
  border: 1px solid var(--border-color--blue);
}

.form-block__item--input--wrap {
  display: flex;
  gap: 8px;
  position: relative;
  align-items: center;
  margin: 0 0 4px;
}

.form-block__item--inputs span {
  color: var(--color-text--brown);
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
}

/*RADIO-BLOCK*/

.form-block__item--radio-block {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.form-block__item--radio-block--item {
  display: flex;
  align-items: center;
}

.form-block__item--radio-block--title {
  color: var(--color-text);
  font-weight: 400;
  font-size: 14px;
}

.radio__input {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
}

.radio__label {
  display: flex;
  align-items: center;
  padding-left: 25px;
  position: relative;
  cursor: pointer;
  color: var(--color-text);
}

.radio__label:before {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  background-color: transparent;
  border: 2px solid var(--color-text);
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: background-color 0.1s linear, border 0.1s linear;
}

.radio__label:after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: var(--bg-blue);
  border-radius: 100%;
  position: absolute;
  opacity: 0;
  top: 4px;
  left: 4px;
  z-index: 1;
  transition: background-color 0.1s linear, border 0.1s linear;
}

.radio__input:checked + .radio__label:before {
  border: 2px solid var(--border-color--blue);
}

.radio__input:checked + .radio__label:after {
  opacity: 1;
}

.radio__input:checked + .radio__label {
  color: var(--color-text--input);
}

.actions {
  width: 100%;
  display: flex;
  gap: 16px;
}

.button {
  display: flex;
  align-items: center;
  text-align: center;
  min-height: 32px;
  background-color: var(--bg-blue);
  border-radius: 3px;
  border: 1px solid transparent;
  font-weight: 500;
  font-size: 14px;
  color: var(--color-text--button);
  padding: 0px 8px;
  cursor: pointer;
  transition: 0.25s;
}

.button:not(:focus):hover {
  box-shadow: inset 0px 0px 0px 100px rgba(0, 0, 0, 0.2);
}

.button:focus {
  border: 1px solid var(--border-color--light-blue);
}

.button-white {
  background-color: var(--bg-button-white);
  color: var(--color-text--button-white);
}

.button-white:focus {
  border: 1px solid var(--border-color--blue);
}

footer {
  display: flex;
  width: 100%;
  justify-content: center;
}

.content__footer {
  width: 100%;
  position: relative;
}

.content__footer-text {
  display: flex;
  width: 100%;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: var(--color-text);
  gap: 8px;
  position: relative;
  z-index: 10;
}

.content__footer-link {
  color: var(--color-text--button-link);
  cursor: pointer;
  border-bottom: 1px solid var(--border-color--link);
  transition: 0.25s;
}

.content__footer-link:hover {
  border-bottom: 1px solid transparent;
}

/*NICE-SELECT*/

.nice-select {
  display: flex;
  align-items: center;
  background-color: var(--bg-field);
  border-radius: 6px;
  border: 1px solid var(--border-color--input);
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  height: 32px;
  line-height: 16px;
  outline: none;
  padding: 0px 8px;
  position: relative;
  transition: all 0.2s ease-in-out;
  user-select: none;
  white-space: nowrap;
  width: auto;
}

.nice-select:active,
.nice-select.open,
.nice-select:focus {
  border: 1px solid var(--border-color--blue);
}

.nice-select:after {
  border-bottom: 2px solid var(--border-color--input);
  border-right: 2px solid var(--border-color--input);
  content: "";
  display: block;
  height: 7px;
  margin-top: -4px;
  pointer-events: none;
  position: absolute;
  right: 12px;
  transform-origin: 66% 66%;
  transform: rotate(45deg);
  transition: all 0.15s ease-in-out;
  width: 7px;
}

.nice-select.open:after {
  transform: rotate(-135deg);
  border-bottom: 2px solid var(--border-color--blue);
  border-right: 2px solid var(--border-color--blue);
}

.nice-select.open .list {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1) translateY(0);
}

.nice-select .list {
  width: 100%;
  background-color: var(--content-bg);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  box-sizing: border-box;
  margin-top: 1px;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: 0;
  transform-origin: 50% 0;
  transform: scale(0.75) translateY(-21px);
  transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  z-index: 9;
}

.nice-select .list:hover .option:not(:hover) {
  background-color: transparent;
}

.nice-select .option {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 400;
  line-height: 16px;
  list-style: none;
  padding: 0px 8px;
  min-height: 40px;
  outline: none;
  text-align: left;
  transition: all 0.2s;
}

.nice-select .option:hover,
.nice-select .option.focus,
.nice-select .option.selected.focus {
  background-color: var(--bg-field);
}

.no-csspointerevents .nice-select .list {
  display: none;
}

.no-csspointerevents .nice-select.open .list {
  display: block;
}
